@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-0.5%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

body {
/*
    display: flex;
    justify-content: center;
    alight-items: center;
    margin: 0;
*/
    font-family: 'Vollkorn', serif;
    animation: fadeIn 1s ease-in-out;
}


/*
#main {
    margin: 0 auto;
    padding: 300px;
}
*/
#title {
    font-weight: 200;
    font-size: 20px;
}

/*
.content {
    text-align: left;
    padding-left: 0;
    margin-left: 0;
    position: relative;
    padding-right: 100px;
}
*/
a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: lightgrey;
}

.content i {
    transform: rotate(-45deg);
    text-align: right;
    right: 0;
    -webkit-text-stroke: 0.1px white; /* Make icon thinner */
    float: right;
}

hr {
    border-color: black;
    border-style: solid;
    margin-top: 25px;
    margin-bottom: 25px;
}

/*
sup {
    margin-right: 0.5em;
}
*/

#introduction {
    font-size: 13px;
}

.head {
    font-size: 17px;
    font-family: 'VT323', 'Courier New', Courier, monospace;
    font-weight: 500;
}

.content {
    font-size: 13px;
}

#right {
    border: none;
    border-left: 1.5px solid #dcdcdc;
    height: 85px;
    margin: 0 20px;
}