<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Welcome to Alex Mai's page</title>
</head>
<body>
    <div>
        <img src="./static/alex.jpg" alt="profile-pic" width="200" height="200">
        <h1>Alex Mai</h1>
        <h2><em>IT Graduate from UIT, HCM City, Vietnam</em></h2>
        <p>A full stack Web/App Developer. I ❤️ drinking tea.</p>
    </div>
    <hr/>
    <div>
        <h3>Projects</h3>
        <ul>
            <li>Project 1</li>
            <li>Project 2</li>
        </ul>
    </div>
    <div>
        <h3>Skills</h3>
        <ul>
            <li>Skill 1</li>
            <li>Skill 2</li>
            <li>Skill 3</li>
        </ul>
    </div>
</body>
</html>