<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Alex Mai</title>
    <link rel="stylesheet" href="static/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Vollkorn:wght@400;700&display=swap" rel="stylesheet">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
<div id="main">
    <div>
        <h1>Alex's Online Universe</h1>
        <p id="introduction">Alex (Hoang Nhi) is a fresh IT graduate from University of Information Technology,<br>
            with a strong passion for technology and a drive to continuously improve her skills.<br>
            Her interest lies in backend development, where she enjoy working with server-side <br>
            technologies to create efficient, scalable solutions.
        </p>
        <p>Currently open to jobs.</p>
    </div>
    <hr>
    <div>
        <h3>[CONTACT]</h3>
        <div>
            <div class="content"><sup>1</sup><a href="https://github.com/nhim-uit">Github<i class="fa-solid fa-arrow-right-long"></i></a></div>
            <div class="content"><sup>2</sup><a href="mailto:alex.cs1610@gmail.com">Mail<i class="fa-solid fa-arrow-right-long"></i></a></div>
            <div class="content"><sup>3</sup><a href="https://linkedin.com/in/nhi-m">LinkedIn<i class="fa-solid fa-arrow-right-long"></i></a></div>
        </div>
    </div>
</div>
</body>
</html>