<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Alex Mai</title>
    <link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Vollkorn:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>

    <div class="px-4 py-5 my-5 text-left container">
    <h4 class="fw-normal display-6 text-body-emphasis mx-auto text-center" id="title" style="width: 100%;">Alex's Information</h4>
    <div class="col-lg-6 mx-auto">
      <p class="fw-light lead mb-4 text-justify" id="introduction">Alex (Hoang Nhi) is a fresh IT graduate from University of Information Technology (2025),
            with a strong passion for technology and a drive to continuously improve their skills.
            Their interest lies in backend development, where they enjoy working with server-side
            technologies to create efficient, scalable solutions.
            <br><br>
            Currently open to jobs.</p>
        <hr>
      <div class="container text-left ps-0">
          <div class="row">
              <div class="col">
            <div class="head"><svg xmlns="http://www.w3.org/2000/svg" width="5" height="5" fill="currentColor" class="bi bi-square-fill me-1" viewBox="0 0 16 16">
            <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2z"></path>
            </svg>[CONTACT]</div>
            <div class="content"><a href="https://github.com/nhim-uit"><sup class="pe-1">1</sup>Github<i class="fa-solid fa-arrow-right-long"></i></a></div>
            <div class="content"><a href="mailto:alex.cs1610@gmail.com"><sup class="pe-1">2</sup>Mail<i class="fa-solid fa-arrow-right-long"></i></a></div>
            <div class="content"><a href="https://linkedin.com/in/nhi-m"><sup class="pe-1">3</sup>LinkedIn<i class="fa-solid fa-arrow-right-long"></i></a></div>
              </div>

              <div class="col" id="right">
            <div class="head">[PROJECTS]</div>
              </div>
          </div>
      </div>
    </div>
  </div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
</body>
</html>